<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= [@config[:title], @item[:title]].compact.join(" — ") %></title>
    <meta name="description" content="<%= [@item[:short_description], @config[:description]].compact.join(' ').gsub("\n", " ") %>">
    <meta name="author" content="<%= @config[:author] %>">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <link href="/vendor/bootstrap/css/bootswatch-slate.min.css" rel='stylesheet'/>
    <link href="/vendor/font-awesmome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/stylesheet.css" rel='stylesheet'/>
    <link rel="alternate" type="application/rss+xml" title="Feed (ogg)" href="/feeds/ogg.xml" />
    <link rel="alternate" type="application/rss+xml" title="Feed (mp3)" href="/feeds/mp3.xml" />
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= @config[:title] %>
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/sobre/"><span class='label label-info'><span class='fa fa-info-circle'></span></span>&nbsp;Sobre</a></li>
          <li><a href="/arquivo/"><span class='label label-default'><span class='fa fa-calendar'></span></span>&nbsp;Arquivo</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class='label label-warning'><span class='fa fa-rss-square'></span></span> Feeds <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/feeds/ogg.xml">ogg</a></li>
              <li><a href="/feeds/mp3.xml">mp3</a></li>
              <li><a href="/feeds/posts.xml" title="Feed sem link para arquivos de áudio">posts</a></li>
            </ul>
          </li>
          <li><a href="/faq/"><span class='label label-default'><span class='fa fa-question-circle'></span></span>&nbsp;FAQ</a></li>
          <li><a href="/contato/"><span class='label label-default'><span class='fa fa-envelope'></span></span>&nbsp;Contato</a></li>
        </ul>
      </div>
    </nav>

    <div id='content'>
      <div class='container'>
        <% if @item[:kind] == 'article' %>
          <%= render '/episode-header.*', episode: @item %>
        <% else %>
          <h1><%= @item[:title] %></h1>
        <% end %>
        <%= yield %>
        <% if @item[:kind] == 'article' %>
          <p>Redes sociais/contato: <%= @config[:social]  %></p>
        <% end %>
        <% if item[:links] %>
          <p>Links:</p>
          <%= RDiscount.new(item[:links]).to_html %>
        <% end %>
      </div>
    </div> <!-- id='content' -->

    <footer>
      <div class='container'>
        <p><%= @config[:copyright] %></p>
        <p><%= @config[:site_copyright] % @config[:site_source] %></p>
      </div> <!-- class='container' -->
    </footer>
  </body>
</html>
